.home {
    display: flex;
    align-items: flex-end;
    gap: 386px;
    height: calc(100vh - 96px - 40px);
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: calc(450/1440 * 100vw);

    margin: 0 0 131px 165px;
}

.start {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    letter-spacing: 4.725px;

    color: #D0D6F9;
}

.space {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 172px;

    color: #FFFFFF;
}

.home-info {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    color: #D0D6F9;
}


.explore-button {
    background-color: white;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: calc(274/1440 * 100vw);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0 131px 0;

    cursor: pointer;
}

.explore-under {
    background-color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;

    transition: height 100ms ease;

    position: absolute;
    z-index: -1;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: calc(274/1440 * 100vw);
}

.explore-button:hover .explore-under {
    height: calc(274/1440 * 164.2335766vw);
}

.ellipse-text {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;

    letter-spacing: 2px;

    color: #0B0D17;
}

@media screen and (max-width: 800px) {
    .home {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .start {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
    }

    .space {
        line-height: 150px;
    }

    .hero-text {
        margin: 106px 0 156px 0;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .home-info {
        width: 444px;
        font-size: 16px;
        line-height: 28px;
    }

    .explore-button {
        /* aspect-ratio: 1/1; */
        width: 242px;
        height: 242px;
        margin: 0;
    }   
}