.navbar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 0 0;
}

.navlinks {
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: flex-end;
    width: calc(830px - 165px - 123px);
    z-index: 2;

    margin: 0;
    padding: 38px 165px 39px 123px;

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    list-style-type: none;

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
}

.bold {
    font-style: bold;
    font-weight: 700;
}

.line {
    position: absolute;
    width: 473px;
    height: 1px;
    left: 165px;
    top: 88px;

    z-index: 2;

    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.logo {
    margin: auto;
    margin-left: 55px;
}

a .active {
    color: red;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

a {
    color: white;
    text-decoration: none;
}

a.active {
    text-underline-offset: 40px;
    text-decoration-thickness: 3px;
    text-decoration-line: underline;
}